<a href='http://www.pledgie.com/campaigns/13850'><img alt='Click here to lend your support to: Graylog2 and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/13850.png?skin_name=chrome' border='0'/></a>
