<h2>Example use cases</h2>
<div class="sidebar-area">
  <h3>Monitoring</h3>
  Get alerts when the amount of new log messages reaches a defined maximum. Always have an
  overview of the log amount trends in good looking graphs just one click away. This is also
  possible on a per-stream level.
</div>

<div class="sidebar-area">
  <h3>API consumer measuring</h3>
  Create streams for every API consumer and quickly filter errors of certain consumers. Give
  these developers access to their own streams only and let them debug theirselves. Easily find
  out which consumers do the most requests on a certain resource.
</div>

<div class="sidebar-area">
  <h3>Activity log</h3>
  Send a log message for every activity a user performs in your application. Use the filter and
  reporting abilities of Graylog2 to get an insight of what your users are doing and how they
  use your application.
</div>

<% unless request.url == url('/about/gelf') %>
  <div class="small-teaser">
    Log from within your applications in a structured way using the Graylog Extended Log Format (GELF).
    <a href="<%= url('/about/gelf') %>">Learn more</a>...
  </div>
<% end %>

<%= erb :_adsense_sidebar %>
<br/><br/>

<h2>Performance</h2>
<div class="sidebar-area">
  <h3>How much log data can Graylog2 handle?</h3>
  Graylog2 is able to handle millions of log events and gigabytes of data. The server can handle and
  route thousands of messages per second. Ask the mailing list if you have questions regarding your
  estimated load of log messages coming in.
</div>

<h2>Live demo</h2>
<div class="sidebar-area">
  <a href="http://www.taulia.com/" rel="nofollow" target="_blank">Taulia</a> is hosting a live Graylog2 demo:
  <a href="http://public-graylog2.taulia.com/" target="_blank">http://public-graylog2.taulia.com/</a>
  Log in with the user <i>admin</i> or <i>user</i> and the password <i>graylog2</i>.
</div>

<h2>Stability</h2>
<div class="sidebar-area">
  Graylog2 has proven its stability in large production deployments around the world. Parsing of the syslog
  messages in the Graylog2 server is handled by the mature <a href="http://syslog4j.org/" target="_blanl">Syslog4j</a>
  library.
</div>

<div id="twitter-button-sidebar">
  <%= erb :_twitter_button %>
</div>
