<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.graylog2.org/" data-text="Graylog2 - Open source syslog and exception tracking" data-count="horizontal" data-via="Graylog2" data-related="_lennart:Graylog2 developer">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
