<div id="right">
  <h2>Graylog2</h2>
  <div class="sidebar-area">
    <h3>History</h3>
    <a href="http://www.lennartkoopmann.net/" target="_blank">Lennart</a> started developing Graylog2
    in May 2010 and is still heavily working on it. Since then the project has more and more evolved
    and is now recognized in big production deployments around the world.
  </div>

  <div class="sidebar-area">
    <h3>People</h3>
    A lot of people contributed to Graylog2. Two of them did especially mentionable work: Dennis
    Oelkers did a great job in re-factoring the web interface and cutting the MySQL dependency.
    <a href="http://alexey-palazhchenko.tumblr.com/" target="_blank">Alexey Palazhchenko</a>
    is still actively working on Graylog2 and spent a lot of time in improving the web interface,
    writing moaaaar tests and advancing <a href="/about/gelf">GELF</a>.
  </div>

</div>

<div id="left">
<h1>Contact</h1>
<p>
  <strong>The author of Graylog2, graylog2.org and responsible for the project is Lennart Koopmann.</strong>
</p>

<p>
  German website owners have to supply some contact information, so here is mine: 
  
  <br /><br />
  Lennart Koopmann<br />
  Max-Brauer-Allee 10<br />
  22765 Hamburg<br />
  Germany<br />
  Phone: +49 (0)40 22816441<br />
  
  <br />
  Contact me at <a href="mailto:lennart@socketfeed.com">lennart@socketfeed.com</a>
  or at <a href="https://twitter.com/#!/_lennart" target="_blank">@_lennart</a> on
  Twitter. I'm also hanging around at #graylog2 on Freenode. My blog:
  <a href="http://www.lennartkoopmann.net/" target="_blank">http://www.lennartkoopmann.net/</a>
</p>

<h2>The Party Gorilla</h2>
<p>
  Thanks to theoatmeal.com for the super-famous Graylog
  <a href="http://theoatmeal.com/comics/semicolon" target="_blank">Party Gorilla</a>!
</p>

<h2>Donate</h2>
<p>
  Hosting this site and the infrastructure costs money. Please consider donating. Thank you!
  <br /><br />
  <%= erb :_pledgie %>
</p>

<h2>Thanks</h2>
<p>
  YourKit is kindly supporting open source projects with its full-featured Java Profiler.
  YourKit, LLC is the creator of innovative and intelligent tools for profiling
  Java and .NET applications. Take a look at YourKit's leading software products:
  <a href="http://www.yourkit.com/java/profiler/index.jsp">YourKit Java Profiler</a> and
  <a href="http://www.yourkit.com/.net/profiler/index.jsp">YourKit .NET Profiler</a>.
</p>
</div>
