<h1>Contact</h1>

<div id="left">
<p>
  <strong>The author of Graylog2, graylog2.org and responsible for the project is Lennart Koopmann.</strong>
</p>

<p>
  German website owners have to supply some contact information, so here is mine: 
  
  <br /><br />
  Lennart Koopmann<br />
  Max-Brauer-Allee 10<br />
  22765 Hamburg<br />
  Germany<br />
  Phone: +49 (0)40 22816441<br />
  
  <br />
  Contact me at <a href="mailto:lennart@socketfeed.com">lennart@socketfeed.com</a>
  or at <a href="https://twitter.com/#!/_lennart" target="_blank">@_lennart</a> on
  Twitter. I'm also hanging around at #graylog2 on Freenode.
</p>
</div>
