<div id="right">
  <h2>Need help?</h2>
  <div class="sidebar-area">
    Head over to the <a href="/support">support pages</a>.
  </div>

  <div class="sidebar-area">
    <h3>Donate</h3>
    Hosting this site and the infrastructure costs money. Please consider
    donating. Thank you!<br /><br />

    <%= erb :_pledgie %>
  </div>
</div>

<div id="left">
  <h1>Download Graylog2</h2>
  <p style="margin-bottom: 5px;">
    You can download Graylog2 on the GitHub pages:
  </p>

  <ul>
    <li><a href="https://github.com/Graylog2/graylog2-server/downloads" target="_blank">graylog2-server</a></li>
    <li><a href="https://github.com/Graylog2/graylog2-web-interface/downloads" target="_blank">graylog2-web-interface</a></li>
  </ul>

  <p>
  It is strongly recommended to run both the server and the web interface on a
  *NIX machine. Both 32 bit and 64 bit architectures are supported but keep in mind
  that it is strongly recommended to run MongoDB on a 64 bit system. You are for
  example limited to a 1GB maximum size of capped collections on 32 bit - Which is
  the standard collection type for Graylog2.
  </p>

  <h2>Installation guides</h2>
  <p style="margin-bottom: 5px;">
    Find the official and user-provided installation guides in the Wikis:
  </p>

  <ul>
    <li><a href="https://github.com/Graylog2/graylog2-server/wiki" target="_blank">graylog2-server</a></li>
    <li><a href="https://github.com/Graylog2/graylog2-web-interface/wiki" target="_blank">graylog2-web-interface</a></li>
    <li><a href="https://github.com/Graylog2" target="_blank">all Graylog2 projects</a></li>
  </ul>

  <h1>Packages and images</h1>
  <p>
    There are several installation resources provided by users. <strong>These are not supported or maintained by us.</strong>
  </p>

  <h2>Chef / Install script</h2>
  <p>
    Find a <strong>Chef cookbook</strong> <a href="http://cookbooks.opscode.com/cookbooks/graylog2">here</a>. There also is
    a <strong>Linode Stackscript</strong> that will install a ready to use Graylog2 environment:
    <a href="http://www.linode.com/stackscripts/view/?StackScriptID=1970">http://www.linode.com/stackscripts/view/?StackScriptID=1970</a>
    - You can build up other auto-install solutions on top of the referenced bootstrap script.
  </p>
  
  <h2>Images</h2>
  <p>
    <a href="http://flavio.castelli.name/" target="_blank">Flavio Castelli</a> is maintaining a
    <a href="http://susegallery.com/a/CZ0T0D/graylog2" target="_blank">SuseGallery image</a> that you can download as ISO or a ready to use
    VirtualBox/VMWare/Xen/EC2 image.
    <br />
    <br />
    There also is <a href="https://sourceforge.net/p/partylog2/home/Home/" target="_blank">Partylog2</a> - A ready to install/test Graylog2 appliance available as ISO.
  </p>
  
  <h2>Gentoo</h2>
  <p>
    Bapabooie on GitHub built an Gentoo Ebuild:
    <a href="http://github.com/Bapabooiee/bapa_overlay/tree/master/app-admin/graylog2/" target="_blank">
      http://github.com/Bapabooiee/bapa_overlay/tree/master/app-admin/graylog2/
    </a>
  </p>

  <%= erb :_facebook_bar %>
</div>
