<div id="right">
  <h2>Need help?</h2>
  <div class="sidebar-area">
    Head over to the <a href="/support">support pages</a>.
  </div>


</div>

<div id="left">
  <h1>Download Graylog2</h2>
  <p style="margin-bottom: 5px;">
    You can download Graylog2 on the GitHub pages:
  </p>

  <ul>
    <li><a href="https://github.com/Graylog2/graylog2-server/downloads" target="_blank">graylog2-server</a></li>
    <li><a href="https://github.com/Graylog2/graylog2-web-interface/downloads" target="_blank">graylog2-web-interface</a></li>
  </ul>

  <p>
  It is strongly recommended to run both the server and the web interface on a
  *NIX machine. Both 32 bit and 64 bit architectures are supported but keep in mind
  that it is strongly recommended to run MongoDB on a 64 bit system. You are for
  example limited to a 1GB maximum size of capped collections on 32 bit - Which is
  the standard collection type for Graylog2.
  </p>

  <h2>Installation guides</h2>
  <p style="margin-bottom: 5px;">
    Find the official and user-provided installation guides in the Wikis:
  </p>

  <ul>
    <li><a href="https://github.com/Graylog2/graylog2-server/wiki" target="_blank">graylog2-server</a></li>
    <li><a href="https://github.com/Graylog2/graylog2-web-interface/wiki" target="_blank">graylog2-web-interface</a></li>
    <li><a href="https://github.com/Graylog2" target="_blank">all Graylog2 projects</a></li>
  </ul>

</div>
