<div id="right">
  <h2>Support guidelines</h2> 
  <div class="sidebar-area">
    <h3>Search before you ask</h3>
    Please do a quick search if somebody else already had the same problem or question you have.
  </div>
  
  <div class="sidebar-area">
    <h3>Be specific</h3>
    Please always include the following information in every kind of support request: Graylog2 server
    and web interface versions, Ruby version, operating system and architecture, MongoDB version
  </div>

  <div class="sidebar-area">
    <h3>If in doubt, just ask</h3>
    Please always feel free to ask all your questions. The Graylog2 community is a very helpful and friendly
    one. The worst thing that could happen is that you get no answer.
  </div>

  <%= erb :_pledgie %>
</div>

<div id="left">  
<h1>Support</h1>
<p>
  You have a problem, a question or a suggestion? Here are some resources to get help from.
</p>

<h2>Mailing list</h2>
<p>
  There is an active mailing list available on Google Groups:
  <a href="http://groups.google.com/group/graylog2?hl=en">http://groups.google.com/group/graylog2?hl=en</a>
</p>

<h2>Bug tracker</h2>
<p>
  Do you want to report a bug or suggest/request a feature? Please register 
  in the JIRA bug tracking system and file a bug:
  <a href="http://jira.graylog2.org/">http://jira.graylog2.org/</a>
</p>

<h2>IRC Channel</h2>
<p>
  Need instant help or want to chat about something? Join #graylog2 on FreeNode. Send
  your question to the mailing list if nobody answers.
</p>

<h2>Direct contact</h2>
<p>
  Still have questions or want to talk about something specific with somebody
  responsible only? Feel free to contact <a href="mailto:lennart@socketfeed.com">Lennart</a>
  but don't expect an answer if it could be also answered on the mailing list.
</p>

</div>
