<div id="right">
  <h2>Support guidelines</h2> 
  <div class="sidebar-area">
    <h3>Search before you ask</h3>
    Please do a quick search if somebody else already had the same problem or question you have.
  </div>
  
  <div class="sidebar-area">
    <h3>Be specific</h3>
    Please always include the following information in every kind of support request: Graylog2 server
    and web interface versions, Ruby version, operating system and architecture, MongoDB version
  </div>

  <div class="sidebar-area">
    <h3>If in doubt, just ask</h3>
    Please always feel free to ask all your questions. The Graylog2 community is a very helpful and friendly
    one. The worst thing that could happen is that you get no answer.
  </div>

  <%= erb :_pledgie %>

  <br /><br />
  <%= erb :_adsense_sidebar %>
</div>

<div id="left">  
<h1>Support</h1>
<p>
  You have a problem, a question or a suggestion? Here are some resources to get help from.
</p>

<h2>Wikis</h2>
  <p>
    The official Graylog2 wikis are hosted on GitHub:
    <a href="https://github.com/Graylog2/graylog2-server/wiki" target="_blank">graylog2-server</a>,
    <a href="https://github.com/Graylog2/graylog2-web-interface/wiki" target="_blank">graylog2-web-interface</a>,
    <a href="https://github.com/Graylog2" target="_blank">all Graylog2 projects</a>
  </p>

<h2>Mailing list</h2>
<p>
  There is an active mailing list available on Google Groups:
  <a href="http://groups.google.com/group/graylog2?hl=en">http://groups.google.com/group/graylog2?hl=en</a>
</p>

<h2>Bug tracker</h2>
<p>
  Do you want to report a bug or suggest/request a feature? Please register 
  in the JIRA bug tracking system and file a bug:
  <a href="http://jira.graylog2.org/">http://jira.graylog2.org/</a>
</p>

<h2>IRC Channel</h2>
<p>
  Need instant help or want to chat about something? Join #graylog2 on FreeNode. Send
  your question to the mailing list if nobody answers.
</p>

<h2>Direct contact</h2>
<p>
  Still have questions or want to talk about something specific with somebody
  responsible only? Feel free to contact <a href="mailto:lennart@socketfeed.com">Lennart</a>
  but don't expect an answer if it could be also answered on the mailing list.
</p>

<h2>Commercial support</h2>
<p>
  We are able to offer commercial support. Please fill out the form below if you are interested and
  we will contact you back to talk about details.
  <br /><br />
<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
var m7x3w7 = new WufooForm();
m7x3w7.initialize({
'userName':'graylog2', 
'formHash':'m7x3w7', 
'autoResize':true,
'height':'680',
'header':'hide'});
m7x3w7.display();
</script>
</p>

</div>
