<h1>Support</h1>
<p>
  You have a problem, a question or a suggestion? Here are some resources to get help from.
</p>

<div id="left">
  
<h2>Mailing list</h2>
<p>
  There is an active mailing list available on Google Groups:
  <a href="http://groups.google.com/group/graylog2?hl=en">http://groups.google.com/group/graylog2?hl=en</a>
</p>

<h2>Bug tracker</h2>
<p>
  Do you want to report a bug or suggest/request a feature? Please register 
  in the JIRA bug tracking system and file a bug:
  <a href="http://jira.graylog2.org/">http://jira.graylog2.org/</a>
</p>

<h2>IRC Channel</h2>
<p>
  Need instant help or want to chat about something? Join #graylog2 on FreeNode. Send
  your question to the mailing list if nobody answers.
</p>

<h2>Direct contact</h2>
<p>
  Still have questions or want to talk about something specific with somebody
  responsible only? Feel free to contact <a href="mailto:lennart@socketfeed.com">Lennart</a>
  but don't expect an answer if it could be also answered on the mailing list.
</p>

</div>
