body {
  color: #000;
  background-color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}

a {
  color: #c03;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 25px;
  border-left: 10px solid #c03;
  padding: 5px;
  padding-bottom: 0px;
  color: #000;
  font-family: 'Raleway', arial, serif;
}

h2 {
  font-size: 21px;
  border-left: 10px solid #c03;
  padding: 5px;
  padding-bottom: 0px;
  color: #000;
  font-family: 'Raleway', arial, serif;
}

p {
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 15px;
}

ul {
  list-style-type: square;
  margin-left: 25px;
  margin-bottom: 20px;
}

#mastertop {
  width: 100%;
  background-color: #000;
}

#top {
  width: 900px;
  height: 60px;
  margin: 0px auto;
  font-size: 11px;
  color: #fff;
}

#top-title {
  float: left;
  padding-top: 15px;
  font-family: 'Lato', serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}

#top-title a {
  color: #fff;
}

#top-title a:hover {
  text-decoration: none;
}

#top-subtitle {
  font-size: 10px;
}

#main-menu {
  margin-top: 40px;
  float: right;
  list-style-type: none;
}

#main-menu li {
  float: left;
  margin-right: 15px;
}

#main-menu a {
  color: #fff;
}

#main-menu a:hover {
  color: #c03;
  text-decoration: none;
}

.active-main-menu-link {
  padding-bottom: 2px;
  border-bottom: 2px solid #c03;
}

#content-container {
  margin: 0px auto;
  width: 900px;
  margin-top: 20px;
  padding-bottom: 20px;
}

#left {
  width: 580px;
}

#right {
  float: right;
  padding-left: 25px;
  width: 280px;
}

.teaser {
  font-size: 60px;
  background-color: #c03;
  padding: 5px;
  color: #fff;
  margin-bottom: 20px;
}

#production-deployments {
  position: relative;
  top: -10px;
  height: 33px;
  list-style-type: none;
  margin-left: 0px;
}

#production-deployments li {
  float: left;
  margin-right: 10px;
}

.sidebar-area {
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 14px;
}

.sidebar-area h3 {
  font-size: 13px;
  margin-bottom: 3px;
}

#about-screenshots {
  margin-bottom: 20px;
}

.about-screenshots-row {
  margin-left: 5px;
  margin-bottom: 4px;
}

.about-screenshot {
  margin-right: 3px;
}

.small-teaser {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ffeaf0;
  padding: 5px;
}

#twitter-button-sidebar {
  padding-left: 184px;
}

#pledgie-sidebar {
  margin-bottom: 5px;
  padding-left: 130px;
}

.ad {
  margin-bottom: 5px;
}

.ad-separator {
  font-size: 10px;
  margin-bottom: 2px;
  border-bottom: 1px dotted #000;
  padding-bottom: 2px;
}

#new-version {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  background-color: #C03;
  text-align: center;
}

#new-version a {
  color: #fff;
  text-decoration: underline;
}
